In [ ]:
import pandas as pd

df = pd.read_csv('housing.csv')

df.head()

df.info()

mead = df['total_bedrooms'].median()
df.fillna({'total_bedrooms': mead}, inplace=True)

df.describe()

df = df[df['median_house_value'] < 500001]

In [165]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [163]:
df.drop(columns=['ocean_proximity'], inplace=True)

KeyError: "['ocean_proximity'] not found in axis"